<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="images/favicon.ico" />
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Staples</title>
</head>
    <body>
        <a href="/login"><button>Take me to my staples!</button></a>
    </body>
</html>