body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  /*background-color: slategray;*/
  /* background-image: url("background_1.jpg");
  background-size: auto;
  background-repeat: no-repeat; */
  background-color: #0ae2ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%230ae2ff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2300d3f7' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300c5ee' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300b6e5' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2306a8da' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23189ace' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23238cc2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232b7eb5' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%233170a7' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23356399' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2337568b' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2337497c' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23363c6d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2334305e' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2331254f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%232c1940' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23260e32' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: black;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}